<div class="hero">
    <div class="container">
        <div class="logo">&nbsp;</div>
        <p class="lead">The Essential Foundation for Your DApps</p>
        <p class="lead">Build, assemble, and update robust dApps by streamlining your smart contract package development and application management with EVMPack's powerful tools.</p>
        <a href="/documentation" data-navigo class="btn btn-primary btn-lg btn-primary-evmpack">Documentation</a>
        <a href="/roadmap" data-navigo  class="btn btn-dark btn-lg">Roadmap</a>
        <a href="{{:github}}" target="_blank" class="btn btn-dark btn-lg">View on GitHub</a>
    </div>
</div>