body {
    background-color: var(--app-main-color);
}
.hero {
    background-color: var(--app-main-color);
    color: black;
    padding: 4rem 2rem;
    text-align: center;
    

    .logo {
        background-image: var(--logo);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        min-height: 200px;
        margin-bottom: 20px;
    }
    .btn {
        margin-right: 0 auto;
        margin-left:15px;
        margin-right: 15px;
    }
}


.sidebar .logo {
    background-image: var(--logo-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 60px;
    margin-bottom: 20px;
    margin-left:20px;   
}

.sidebar a.nav-link {
    color: white;
}

.feature-icon {
    font-size: 2.5rem;
    color: #0d6efd;
}
pre {
    background-color: black;
    color: #f8f9fa;
    padding: 1.5rem;
    border-radius: 0.5rem;
    position: relative;
    margin-bottom: 30px;
    font-size: 0.9rem;

}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content p, .page-content ul, .page-content ol {margin-bottom: 30px;}
.page-content pre {max-width: 900px}
.page-content table {margin-bottom: 30px;}
.page-content td, .page-content th {padding: 10px; border: #5a6268 1px solid;}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529; /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #ffffff; /* White spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}